.logo{
    margin-left: 40px;
    font-weight: 100;
}

.heading {
    font-weight: 100;
    font-size: 28px;
}

.card {
    margin-top: 24px;
}

@media only screen and (max-width: 500px) {
    .logo {
        margin-left: 0px;
    }
}
#about{
    font-weight: 100;
}

